In [175]:
#1
a=10
b=20
c=a+b

In [176]:
#2
print('hello world')

hello world

In [177]:
#3
a=10
b=20
c=a+b
print(c)

30

In [178]:
#4
s='narendra'
s
id(s)
type(s)

str

In [179]:
#5
a='eritjrjfnnfsfj'
print(id(s))
print(type(s))

2405153224944
<class 'str'>

In [180]:
#6
s='narendra'
print(s)
print(id(s))
type(s)

narendra
2405153224944

str

In [181]:
#7
s='narendra'
print(s)
s[-1]
s[0]

narendra

'n'

In [182]:
#8.was to print 'hello world' by using shell
print('hello world')

hello world

In [183]:
#9.was to initialize variable and value as 80
a=80
print(a)

80

In [184]:
#10.was to initialize multiple varaiable values are 180,120,280
a,b,c=180,120,280
print(a,b,c)

180 120 280

In [185]:
#11.was to print the type of data in given value
a=[1,2,3,4]
print(type(a))

<class 'list'>

In [186]:
#12.was to print the address of the memory block address for given value
s='narendra'
print(id(s))

2405153224944

In [187]:
#13.was to print your details firtly store your details, extract the values and display it
d={'name':'narendra','age':'22','mno':9014983958,'mail':'narendradappili@gmail.com'}
print(d['name']) 
print(d['age'])
print(d.items())
print(d.keys())
print(d.values())

narendra
22
dict_items([('name', 'narendra'), ('age', '22'), ('mno', 9014983958), ('mail', 'narendradappili@gmail.com')])
dict_keys(['name', 'age', 'mno', 'mail'])
dict_values(['narendra', '22', 9014983958, 'narendradappili@gmail.com'])

In [188]:
#14.was to swap two variable values by using temp
a=20
b=30
temp=a
a=b
b=temp
print(a,b)

30 20

In [189]:
#15.was to swap two variable values without using temp
a=[1,2,3,4]
b=(2,3,4,5,6,8)
a,b=b,a
print(a,b)

(2, 3, 4, 5, 6, 8) [1, 2, 3, 4]

In [190]:
#16.was to initialize a value and print the value, after print the value, then reinitialize the new value to the existing variable and display the value
#initialization
a=[1,2,3,4,5]
print(a)
#reinitialize the value
a=(1,2,3,4,5,6,7,)
print(a)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5, 6, 7)

In [191]:
#17.was to find the length of the sequence
s='asdjsdhuhdsfhb'
print(len(s))

14

In [192]:
#18.was to print the middle value and find the mid length of the sequence
s=[1,2,3,4,5,67,8]
print(s[len(s)//2])
print(len(s)//2)

4
3

In [193]:
#19.was to concate the two strings
a='abdhjd'
b='ajhdhd'
print(a+b)

abdhjdajhdhd

In [194]:
#20.was to concate the new string to the ending of the string
a='jhhfhsd'
b='jhjdf'
print(a+b)

jhhfhsdjhjdf

In [195]:
#21.was to concate the new string to the middle of the given string
s='abcde'
t='adgs'
print(s[0:len(s)//2:]+t+s[(len(s)//2)+1::])

abadgsde

In [196]:
#22.was to modify the new value to the middle of the given string
s='pyspiders'
print(s[:len(s)//2]+'l'+s[(len(s)//2)+1::])

pysplders

In [197]:
#23.was to mlodify the sequence of characters in string
s='pyspiders'
print(s[:3:]+'pid'+s[6::])

pyspiders

In [198]:
#24.was to change the specific character into upper case
s='pyspiders'
print(s[:5]+'D'+s[6:])

pyspiDers

In [199]:
#25.was to delete specific character from string
s='pyspiders'
print(s[:2]+s[3:])

pypiders

In [200]:
#26.was to delete the sequence of characters from the given string
s='pyspiders'
print(s[:3]+s[6:])

pysers

In [201]:
#27.was to modify the specific value in list
l=[1,34,6,4]
l[2]=8
print(l)

[1, 34, 8, 4]

In [202]:
#28.was to modify the new value to the starting of the list
l=[1,2,3,4,5]
l[0]=9
print(l)

[9, 2, 3, 4, 5]

In [203]:
#29.was to modify the new value to the ending of the list
l=[1,2,3,4,5]
l[-1]=9
print(l)

[1, 2, 3, 4, 9]

In [204]:
#30.was to modify the new value to the middle of the list
l=[1,2,3,4,5]
l[len(l)//2]=9
print(l)

[1, 2, 9, 4, 5]

In [205]:
#31.was to modify the starting four positions of the list
l=[1,2,3,4,5,6,7,8]
l[0:4]=[9,10,11,12]
print(l)

[9, 10, 11, 12, 5, 6, 7, 8]

In [206]:
#32.was to delete the specific element from the list
l=[1,2,3,4,5]
del l[0]
print(l)

[2, 3, 4, 5]

In [207]:
#33.was to delete the specific value from  the list without using del keyword
l=[1,2,3,4,5]
l[0:1]=[]
print(l)

[2, 3, 4, 5]

In [208]:
#34.was to concate the new collection to the list
l=[10,20,30,40]
m='asd'
print(l+list(m))

[10, 20, 30, 40, 'a', 's', 'd']

In [209]:
#35.was to concate the new collection to the list 
# to different address
l=[10,20,30,40]
print(id(l))
m='asd'
l=l+list(m)
print(l)
print(id(l))

2405153344064
[10, 20, 30, 40, 'a', 's', 'd']
2405179583232

In [210]:
#36.was to concate the new collection to the list 
# to same address by using compound assingnment operator
l=[10,20,30,40]
print(id(l))
m='asd'
l+=list(m)
print(l)
print(id(l))

2405179927680
[10, 20, 30, 40, 'a', 's', 'd']
2405179927680

In [211]:
#37.was to concate the new valus into set
# to different address
s={10,20,30,40}
print(id(s))
s=s|{1,2,3,4}
print(s)
print(id(s))

2405179548480
{1, 2, 3, 4, 40, 10, 20, 30}
2405179547136

In [212]:
#38.was to concate the new valus into set
# to same address by using compound assignment operator
s={10,20,30,40}
print(s,id(s))
s|={1,2,3,4}
print(s)
print(id(s))

{40, 10, 20, 30} 2405179545792
{1, 2, 3, 4, 40, 10, 20, 30}
2405179545792

In [213]:
#39.was to perform difference operation on set
s={10,20,30,40}
print(s)
print(id(s))
s-={10,20}
print(s)
print(id(s))

{40, 10, 20, 30}
2405179548704
{40, 30}
2405179548704

In [214]:
#40.was to concate the new value pair to the dictionary
d={1:10,2:[1,2,3],3:'abc'}
d[4]=(10,20)
print(d)

{1: 10, 2: [1, 2, 3], 3: 'abc', 4: (10, 20)}

In [215]:
#41.was to modufy the specific value in the dictionary
d={1:10,2:[1,2,3],3:'abc'}
d[1]=100
print(d)

{1: 100, 2: [1, 2, 3], 3: 'abc'}

In [216]:
#42.was to delete specific value from dict
d={1:10,2:[1,2,3],3:'abc'}
del d[1]
print(d)

{2: [1, 2, 3], 3: 'abc'}

In [217]:
#43.was to concate list and tuple values by using typecasting
l=[1,2,3,4,5]
m=10,20,30,
print(l+list(m))

[1, 2, 3, 4, 5, 10, 20, 30]

In [218]:
#44.was to concate list and tuple values without using typecasting
# by using assignment operator
l=[1,2,3,4,5]
m=10,20,30,
l+=m
print(l)

[1, 2, 3, 4, 5, 10, 20, 30]

In [219]:
#45.was to check the number is divisible by 3
n=12
print(n%3==0)

True

In [220]:
#46.was to check the number is divisible by 2 and 6
n=12
print(n%2==0 and n%6==0)
m=13
print(m%2==0 and m%6==0)

True
False

In [221]:
#47.was to check the last digit is divisible by 3 from given integer
n=1999
res=n%10
print(res%3==0)


#------
n=1995
res=n%10
print(res%3==0)

True
False

In [222]:
#48.was to convert integer to string with using type casting
n=1783
res = str(n)
print(res)

1783

In [223]:
#49.was to check the given number is greater than 150
n=1783
print(n>150)

m=140
print(m>150)

True
False

In [224]:
#50.was to check the given number is greater than or equal to 150
n=1783
print(n>=150)

m=130
print(m>=150)

True
False

In [225]:
#51.was to check the given number is less than 150
n=1783
print(n<150)

False

In [226]:
#52.was to check the given number is less than 150
n=1783
print(n<100)

m=100
print(m<=100)

False
True

In [227]:
#53.was to check the given number is greater than 15 and less than 24
n=17
print(n>15 and n<24)

True

In [228]:
#54.was to check the given number is even number
n=1783
print(n%2==0)

m=468
print(m%2==0)

False
True

In [229]:
#55.was to check the given number is odd number
n=1783
print(n%2!=0)

m=468
print(m%2!=0)

True
False

In [230]:
#56.was to check perform the replication of a given string with 6
# .... multiplication between one integer and collection datatype is called replication
s='asd'
print(s*6)

asdasdasdasdasdasd

In [231]:
#57.was to check the number is divisible by three and also greater then 23
n=30
print(n%3==0 and n>23)

m=18
print(m%3==0 and m>23)

True
False

In [232]:
#58.was to check the length of given collection is even or odd
a='12334njff'
print(len(a))
print(len(a)%2==0)

9
False

In [233]:
#59.was to check the length of the collection is less than 55 and grater than the 16
t='12345hg32hjgkhhajhdfkfjj'
print(len(t)>16 and len(t)<55)

True

In [234]:
#60.was to check the length of the collection is divisible by 5 and odd
t='12345hg32hjgkhhajhdfkfjjsqwert'
print(len(t))
print(len(t)%5==0 and len(t)%2!=0)

30
False

In [235]:
#61.was to check the middle value of a given collection is which type
s='asdjf'
res=type(s[(len(s)//2)])
print(res)

<class 'str'>

In [236]:
#62.was to check the number is divisible by 20 and 30 and it should be even
n=360
print(n%20==0 and n%30==0 and n%2==0)

True

In [237]:
#63.was to check the number is even and less than 120
n=110
print(n%2==0 and n<120)

True

In [238]:
#64.was to check the number is even and less than or equal to 70 and grater than or equal to 40
n=50
print(n%2==0 and n>=40 and n<=70)

True

In [239]:
#65.was to check the number is odd and grater than 97
n=95
print(n%2!=0 and n<97)

True

In [240]:
#66.was to check the number is grater than 48 andless than 122 and divisible by 4
n=112
print(n%4==0 and n>48 and n<122)

True

In [241]:
#67.was to check the number is divisible 3 or 5
n=110
print(n%3==0 or n%5==0)

True

In [242]:
#68.was to check the last character's ascii value should be divisible by 5
s='asdfgd'
print(ord(s[-1]))
print((ord(s[-1]))%5==0)

100
True

In [243]:
#69.was to check the given number is present b/w 60 and 130 and the number should be divisible by 3 and 4and the last didit should be less than 9.
n=120
print(60<=n<=130 and n%3==0 and n%4==0 and (n%10)<9)

True

In [244]:
#70.was to check the given number is even or less than 25.
n=24
print(n%2==0 or n<25)

True

In [245]:
#71.was to check the given number is even or greater than 25.
n=31
print(n%2==0 or n>25)

True

In [246]:
#72.was to check the number is divisible by 3 or 5
n=20
print(n%3==0 or n%5==0)

True

In [247]:
#73.was to check the number is not an even number
n=25
print(n%2!=0)

True

In [250]:
#74.was to find ascii value of given character
n='a'
print(ord(n))

97

In [251]:
#75.was to find ascii value of given character
n='A'
print(ord(n))

65

In [253]:
#76.was to find character of given ascii value
ch=65
print(chr(ch))

A

In [254]:
#77.was to find ascii value of given character
ch=109
print(chr(ch))

m

In [255]:
#78.was to check given character is in uppercase or not
n='A'
print(n<='A' and n<='Z')

True

In [256]:
#79.was to check given character is in lowercase or not
n='a'
print(n<='a' and n<='z')

True

In [267]:
#80.was to check given character is in uppercase or not
n='AD'
print(len(n)==1 and (n<='A' and n<='Z'))

False

In [259]:
#81.was to check given character is in lowercase or not
n='abc'
print(len(n)==1 and n<='A' and n<='Z')

False

In [272]:
#82.was to check given character is alphabet
n='A'
print(n>='A' or n<='Z' or 'a'<=n<='z')

True

In [277]:
#83.was to check given character is alphabet
n='Aaa'
print(len(n)==1 and (n>='A' or n<='Z' or 'a'<=n<='z'))

False

In [273]:
#84.was to check given character is ascii value or not
n='9'
print(n>='0' and n<='9')

True

In [280]:
#85.was to check given character is ascii value or not
n='976'
print(len(n)==1 and n>='0' and n<='9')

False

In [283]:
#86.was to check given character is special character or not
n='/'
print(not(n>='A' and n<='Z' and 'a'<=n<='z' and n>='0' and n<='9'))

True

In [286]:
#87.was to check the character is present in the collection or not
ch='dfg'
print(ch in 'abcndfgmki')

True

In [287]:
#88.was to check the character is present in the collection or not
ch='dg'
print(ch in 'abcndfgmki')

False

In [288]:
#89.was to convert uppercase to lowercase character
ch='A'
print(chr(ord(ch)+32))

a

In [289]:
#90.was to convert uppercase to lowercase character
ch='Aaa'
print(len(ch)==1 and chr(ord(ch)+32))

False

In [290]:
#91.was to convert lowercase to uppercase character
ch='a'
print(chr(ord(ch)-32))

A

In [291]:
#92.was to convert lowercase to uppercase character
ch='abf'
print(len(ch)==1 and chr(ord(ch)+32))

False

In [292]:
#93.was to check the character is vowel or not
ch='a'
print(ch in 'aeiouAEIOU')

True

In [293]:
#94.was to check the character is vowel or not
ch='acs'
print(len(ch)==1 and ch in 'aeiouAEIOU')

False

In [295]:
#95.was to extract the next character of given character
ch='A' 
print(chr(ord(ch)+1))

B

In [297]:
#96.was to extract the next character of given character
ch='Aaa' 
print(len(ch)==1 and chr(ord(ch)+1))

False

In [298]:
#97.was to extract the previous character of given character
ch='B' 
print(chr(ord(ch)-1))

A

In [299]:
#98.was to extract the previous character of given character
ch='Baa' 
print(len(ch)==1 and chr(ord(ch)-1))

False

In [332]:
#99.was to check the given character is converted to ascii value and the value is even as well as the character as well as the character should be lowercase.
ch='b'
print(ord(ch)%2==0 and 'a'<=ch<='z')

True

In [333]:
#100.was to check the given character is converted to ascii value and the value is even as well as the character should be lowercase.
ch='ba'
print(len(ch)==1 and ord(ch)%2==0 and 'a'<=ch<='z')

False

In [55]:
#101.was to check the dict value in tuple
t=(10,[10],['a'],30,40,50)
d={'a':10}
print(d['a'] in t)
print(d.keys() in t)
print(d.keys())

True
False
dict_keys(['a'])

In [4]:
#102.was to check the given character is converted to ascii value and the value is odd as well as the character should be uppercase.
ch='B'
print(ord(ch)%2!=0 and 'A'<=ch<='Z')

False

In [5]:
#103.was to check the given character is converted to ascii value and the value is odd as well as the character should be uppercase.
ch='Ba'
print(len(ch)==1 and ord(ch)%2!=0 and 'A'<=ch<='Z')

False

In [7]:
#104.was to covert the numer into character and it is not a special symbol
n=100
print('a'<=chr(n)<='z' or 'A'<=chr(n)<='Z' or '0'<=chr(n)<='9')

True

In [8]:
#105.was to covert the numer into character and it is vowel
n=101
print(chr(n) in 'aeiouAEIOU')

True

In [9]:
#106.was to covert the numer into character and it is vowel
n=65
print(chr(n) in 'aeiouAEIOU')

True

In [10]:
#107.was to covert the numer into character and it is vowel
n=101
print(chr(n) in 'aeiouAEIOU')

True

In [11]:
#108. was to check the first and second characters are sequence or not in given string
s='abcd'
print((ord(s[0])+1) == ord(s[1]))

True

In [12]:
#109. was to check the first and second characters are sequence or not in given string
s='afcd'
print((ord(s[0])+1) == ord(s[1]))

False

In [15]:
#110. was to check the ascii value of a character is greater than 50 and greater than 25 or less than 112.
n='a'
print(ord(n) > 25 or ord(n) < 112 )

True

In [19]:
#111.was to perform the incriment of one in given number
n=100
n+=1
print(n)

101

In [20]:
#112.was to perform the incriment of two in given number
n=100
n+=2
print(n)

102

In [21]:
#113.was to perform the decriment of one in given number
n=100
n-=1
print(n)

99

In [22]:
#114.was to perform the incriment of two in given number
n=100
n-=2
print(n)

98

In [23]:
#115.was to check the given integer is present in collection
n=10
s=[1,2,3,4,10]
print(n in s)

True

In [24]:
#116.was to check the given integer is present in collection
n=20
s=[1,2,3,4,10]
print(n in s)

False

In [26]:
#117.was to perform addition operation on a nd b values and value should be assign to a
a=10
b=12
a+=b
print(a)

22

In [27]:
#118.was to check the given value is present in collection
n='abc'
s=[1,2,'abc',3,4,10]
print(n in s)

True

In [28]:
#119.was to check the given list is present in list
n=[10,20,30]
s=[1,2,3,4,10,[10,20,30]]
print(n in s)

True

In [31]:
#120.was to check the given dict is present in tuple
n={20:'abc'}
s=({20:'abc'},2,3,4,10)
print(n in s)

True

In [32]:
#121.was to check the given integer is present in dictionay
n=20
s={1:20,20:30,3:40}
print(n in s)

True

In [33]:
#122.was to check the given integer is present in dictionay
n=20
s={1:20,20:30,3:40}
print(n in s.values())

True

In [35]:
#123.was to check the given value is integer or not
n=123
print(type(n))

<class 'int'>

In [36]:
#124.was to check the given value is string or not
n='123'
print(type(n))

<class 'str'>

In [37]:
#125.was to check the given value is single value  or not
n=123
print(type(n) in [int,float,bool,bytes,complex,type(None)])

True

In [38]:
#126.was to check the given value is single value  or not
n='123'
print(type(n) in [int,float,bool,bytes,complex,type(None)])

False

In [39]:
#127.was to check the given value is multi value  or not
n=123
print(type(n) not in [int,float,bool,bytes,complex,type(None)])

False

In [40]:
#128.was to check the given value is multi value  or not
n='123'
print(type(n) not in [int,float,bool,bytes,complex,type(None)])

True

In [41]:
#129.was to check the given value is mutable or not
n=123
print(type(n) not in [int,float,bool,bytes,complex,type(None)])

False

In [42]:
#130.was to check the given value is mutable or not
n=[1,2,3]
print(type(n) not in [int,float,bool,bytes,complex,type(None)])

True

In [43]:
#131.was to perform the bitwise and operation on values 15 and 19
n=15
m=19
print(n&m)

3

In [44]:
#132.was to perform the bitwise or operation on values 115 and 79
n=115
m=79
print(n|m)

127

In [45]:
#133.was to perform the bitwise xor operation on values 56 and 22
n=56
m=22
print(n^m)

46

In [46]:
#134.was to perform the bitwise not operation on values 15
n=15
print(~n)

-16

In [48]:
#135.was to perform the bitwise left shift operation on value 32 and skipping value is 3
n=32
m=3
print(n<<m)

256

In [49]:
#136.was to perform the bitwise right shift operation on value 25 and skipping value is 2
n=25
m=2
print(n>>m)

6

In [50]:
#137.was to check the given value is in dictionary 
d={1:10,2:30}
a=10
print(a in d.values())

True

In [56]:
([100,200,300,400][-1]//10 and (10,20,30)[-1:-3][0]**2) or ('Man'<='Woman')

IndexError: tuple index out of range

In [63]:
t=[10,20,30]
print(t[-1:-3][0]z)

IndexError: list index out of range

In [ ]:
# simple if programs

In [3]:
# 1.wap to check whether the number is positive. i fpositive print a message positive
n=10
if n>=0:
    print('positive')

positive

In [2]:
#2. wap to print heloo world if the number is greater than 1 and less than 5.
s='hello world'
n=4
if n>1 and n<5:
    print(s)

hello world

In [4]:
#3.wap to check whether the given number is divisible by 3 or not if print fizz
n=9
if n%3==0:
    print('fizz')

fizz

In [6]:
#4.wap to check whether the input is divisible by 2 and 6. if the condition is satisfied, covert the given number into a complex.
n=12
if n%2==0 and n%6==0:
    print(complex(n))

(12+0j)

In [11]:
#5.wap to check whether a given input is divisible by 3 or 5. if the condition is satisfied, the number is converted to to list.
n=30
if n%3==0 and n%5==0:
    res=str(n)
    print(list(res))

['3', '0']

In [14]:
#6.wap to check whether a given number is multiple of 5 or not.
n=105
if n%5==0:
    print('n is multiple of 5')

n is multiple of 5

In [15]:
#7.wap to check whether the given input is 0 or not. if 0 print 0.
n=0
if n==0:
    print('0')

0

In [16]:
#8.wap to check the given number is negative. if negative print negative.
n=-1213
if n<0:
    print('negative')

negative

In [17]:
#9.wap to check whether the given number is even or not. if even,store the value in inside the list.
n=1234
if n%2==0:
    print(list(str(n)))

['1', '2', '3', '4']

In [18]:
#10.wap to check whether the given number is even or not. if odd, store the value in inside the tuple.
n=1233457
if n%2!=0:
    print(tuple(str(n)))

('1', '2', '3', '3', '4', '5', '7')

In [19]:
#11.wap to check whether the given number is even or not. if it is yes, to print power of 4 in a given number.
n=10
if n%2==0:
    print(n**4)

10000

In [20]:
#12.wap to take the input from the user as a number and check whether it is a number or not. if yes, take the number and add some value and print it.
n=int(input('enter a number :')) 
if type(n) in [int,float,complex,bytes]:
    n+=10
    print(n)

14

In [42]:
#13.wap to take the input from the user as a number and check whether it is a number or not. if yes, take the number and add some value and print it.
n=int(input('enter a number :')) 
if type(n) in [int,float,complex,bytes]:
    n+=10
    print(n)

133

In [38]:
#14.wap to 
s='notnarendra'
if (s[0:3:1] == 'not'):
    print(s)
else:
    print('not'+s)

notnarendra

In [40]:
#15
s='1234 5678'
t='1234 5678'
if s == t:
    s,t=t,s
    print(s)
    print(t)

1234 5678
1234 5678

In [43]:
# 16.wap to check whether the value is divisible by 5 and 7. if the value is divisible, to display the square of the value. 
n=70
if n%5==0 and n%7==0:
    print(n**2)

4900

In [44]:
#17. wap to check whether the value is divisible by 3 and less than 30. if the value is divisible,to display the square of the values. 
n=27
if n%3==0 and n<30:
    print(n**2)

729

In [45]:
#18. wap to check the number's last digit is greater than 5 or not.if greater, to perform the bitwise right shift operation(skipping value is 2).
n=1234567
if (n%10)>5:
    res=n>>2
    print(res)

308641

In [46]:
#19. wap to check the given value is even number and divisible by 4. if satisfied to display the cube of the values.
n=16
if n%2==0 and n%4==0:
    print(n**3)

4096

In [47]:
#20. wap to check whether the given values is even or not. if the even stores thevalue inside list.
n=1234
if n%2==0:
    print(list(str(n)))

['1', '2', '3', '4']

In [60]:
#21. wap whether the given value is negative or even number. if satisfied, to diplay the last digit of the value.
n=-103
if n<0 or n%2==0:
    print((-n%10))

3

In [66]:
#22. wap to check whether the given value is negative or odd and divisible by 4. if satisfied, to display the cube of the value.
n=-4
if n%4==0 and (n<0 or n%2!=0):
    print(n**3)

-64

In [69]:
#23. wap to check whether the given ascii value is divisible by 4 and even value. if satisfied, to display the ascii character.
n=100
if n%4==0 and n%2==0:
    print(chr(n))

d

In [70]:
#24. wap to check whether the given value is present b/w 45 to 125 and the number should be divisible by 4 and 5 and even value. if satisfied, to display the ascii character
n=100
if 45<=n<=125 and n%4==0 and n%5==0 and n%2==0:
    print(chr(n))

d

In [71]:
#25. wap to check whether the given value is present b/w 25 to 100 and the number should be divisible by 4 and 5. if satisfeid display multiplication of given value with 5.
n=40
if 25<=n<=100 and n%4==0 and n%5==0:
    print(n*5)

200

In [85]:
#26. wap to check the given value is an intger and odd number. if the condition is satisfied, the integer is divisible by 5 and displays the result.
n=51
if type(n) == int and n%2!=0:
    res=n/5
    print(res)

10.2

In [86]:
#27. wap to check the given value is an intger or not. if the condition is satisfied, the integer value convert into string and displays the result.
n=1234
if type(n) == int:
    print(str(n))

1234

In [87]:
#28.wap to check the value is less than 125 and greater than 60 or not. if the condition is satisfied, take the name and extract the middle character and display it.
n=123
if 60<=n<=125:
    b=str(n)
    print(b[len(b)//2])

2

In [88]:
#29.wap to check the two values are equal or not. if both are equal, perform addition and display the result.
n=21
m=21
if n==m:
    print(m+n)

42

In [91]:
#30. wap to check the two values are equal or not. if equal, to perform multiplication of two numbers and that result is division by 3 and display the value.
n=21
m=21
if n==m:
    b=n*m
    print(b)
    b/=3
    print(b)

441
147.0

In [ ]:
# if else programs

In [92]:
#1. wap to veck whether a number is positive or negative. if positive print positive message or else print negative number.
n=10
if n>=0:
    print('Positive')
else:
    print('Negative')

Positive

In [93]:
#2. wap to veck whether a number is even or odd. if positive print even message or else print odd number.
n=22
if n%2==0:
    print('even')
else:
    print('odd')

even

In [94]:
#3. wap to veck whether a number is greater than 10 or not. if it is greater than 10  message as greater or else print lesser.
n=15
if n>10:
    print('Greater')
else:
    print('lesser')

Greater

In [95]:
#4.wap to check whether the given two numbers are divisible by 3 and 5. if it is divisible, print good morning, or else print good evening.
n=15
if n%3==0 and n%5==0:
    print('good morning')
else:
    print('good evening')

good morning

In [115]:
#5.wap to check the two values are equal or not. if equal, multiply the values or else display the quotation value.
n=11
m=10
if n==m:
    print(n*m)
else:
    print(f"'{n}'",f"'{m}'")

'11' '10'

In [101]:
#6.wap to find laegest of two numbers.
n=10
m=30
if n>m:
    print(n)
else:
    print(m)

30

In [110]:
#.7
l=[9,10,120,13]
if type(l)==list and type(l[0])==int and type(l[-1])==int:
    l[0]=l[0]/3  #n
    l[-1]=~l[-1]   #m
    #l[0]+=n
    #l[-1]+=m
    print(l)
else:
    print(len(l)**2)

[3.0, 10, 120, -14]

In [109]:
n=100
print(chr(n))

d

In [117]:
#8.WAP to check whether the input number is greater than 10 or not if it is greater than 10 print messages as greater with number. if it is not a greater than 10 print that number.
n=12
if n>10:
    print('greater',n)

greater 12

In [123]:
#9.WAP to the given number integer, if n is greater than 21,print the absolute difference between n and 21 otherwise print twice the absolute difference.
n=15
a=21
if n>a:
    print(abs(n-a))
else:
    print(2*abs(n-a))

12

In [125]:
#10.WAP to find the smallest of two numbers.
m=10
n=9
if m<n:
    print(m)
else:
    print(n)

9

In [139]:
#11.WAP to check whether the given number is even or odd. If it is even then make 
#it as an odd number, if it is an odd number then make it as even number.
n=13
if n%2==0:
    print(n+1)
else:
    print(n)

13

In [138]:
#12.WAP to print the string collection five times when the length of the string 
#collection should be more than 3 and the middle character of the string should 
#be vowel and the first character ASCII value should be even, to print the previous 
#character of middle character, or else if ASCII value is odd then print the string 
#three times as print that string.
s='nar'
if len(s)>3:
    print(s*5)
elif s[len(s)//2] in 'aeiouAEIOU' and ord(s[0])%2==0:
    print(chr(ord(s[len(s)//2])-1))
else:
    print(s*3)

`

In [135]:
s='nar'
print(chr(ord(s[len(s)//2])-1))

`

In [140]:
#14.WAP to check whether the given number is divisible by 3 or not if yes, print the 
#number or else print the cube of the numbers.
n=9
if n%3==0:
    print(n)
else:
    print(n**3)

9

In [143]:
#14.WAP to check whether the given input is divisible by 3 and 5. If yes print the 
#actual number or else print string of that number.
n=16
if n%3==0 and n%5==0:
    print(n)
else:
    a=str(n)
a

'16'

In [146]:
#15.WAP to check whether the given number lies between 1 to 19, if it is true square 
#that number or else false cube that number and display the number.
n=8
if 1<=n<=19:
    print(n**2)
else:
    print(n**3)

64

In [147]:
#16.WAP to check whether the student has passed or failed. If the student got more 
#than 40 marks, print PASS along with those marks, if it is not printed FAIL along 
#with those marks.
marks=50
if marks>40:
    print('PASS',marks)
else:
    print('FAIL',marks)

PASS 50

In [148]:
#17.WAP to check whether a given value is even and in range of 47 to 58 and not in 0 
#or odd. if condition is True, to perform display the ascii character. or else to 
#perform floor division with 5 and display it.
n=48
if n%2==0 and 47<=n<58 and n!=0 or n%2!=0:
    print(chr(n))
else:
    a=n//5
    print(a)

0

In [149]:
n=48
print(chr(n))

0

In [150]:
#18. WAP to check whether a given value is less than 125 and in between 47 to 125 or 
#not. if condition is True, to perform store the given value as key and value as a 
#character into the dict or else to append the value in list and display it.
n=120
d={}
l=[]
if 47<=n<=125:
    d|={n:chr(n)}
    print(d)
else:
    l+=n
    print(l)

{120: 'x'}

In [152]:
#19.WAP to check whether a given character is in the alphabet or not. if alphabet, 
#display the alphabet with character or else display the not alphabet with 
#character.
ch='A'
if 'A'<=ch<='Z' or 'a'<=ch<='z':
    print('alphabet',ch)
else:
    print('not alphabet',ch)

alphabet A

In [153]:
#20.WAP to check whether a given character is uppercase or other character. if 
#uppercase, display the uppercase with character or else display the other 
#character with character.
ch='A'
if 'A'<=ch<='Z':
    print('uppercase',ch)
else:
    print('character',ch)

uppercase A

In [154]:
#21.WAP to check whether a given character is lowercase or other character. if 
#lowercase, display the lowercase with character or else display the other
#character with character.
ch='a'
if 'a'<=ch<='z':
    print('lowercase',ch)
else:
    print('character',ch)

lowercase a

In [155]:
#22.WAP to check whether a given character is uppercase or other character. if 
#uppercase, convert to lowercase .or else display the ascii number.
ch='A'
if 'A'<=ch<='Z':
    print(chr(ord(ch)+32))
else:
    print(ord(ch))

a

In [158]:
#23.WAP to check whether the given character is in lowercase or uppercase. If it is 
#in lowercase, convert it into uppercase, or else it is in uppercase and convert it 
#into lowercase. Display the value.
ch='a'
if 'a'<=ch<='z':
    print(chr(ord(ch)-32))
else:
    print(chr(ord(ch)+32))

A

In [178]:
#24.WAP to check whether the given string of the first character is a special symbol 
#or not. If a special symbol, to extract and display the middle character or else to 
#reverse the string and display the half of the string.
s='@naendra'
if 'A'<=s[0]<='Z' or'a'<=s[0]<='z' or '0'<=s[0]<='9':
    print(s[len(s)//2])
else:
    print(s[:(len(s)//2)-1:-1])

ardn

In [181]:
#25.WAP to check whether the input character is a vowel or not. If it is vowel print 
#VOWEL along with that character, if it is not just print CONSONANT.
ch='a'
if ch in 'aeiouAEIOU':
    print('VOWEL',ch)
else:
    print('CONSONANT')

VOWEL a

In [185]:
#26.WAP to check whether a given character is a vowel or consonant. if vowel, to 
#print the next character of a given character or else print previous characters.
ch='a'
if ch in 'aeiouAEIOU':
    print(chr(ord(ch)+1))
else:
    print(chr(ord(ch)-1))

b

In [187]:
#27.WAP to check whether a given string of first character is alphabet or not
#if the alphabet prints, reverse the string or else print the middle character.
s='1arendra1'
if 'A'<=s[0]<='Z' or 'a'<=s[0]<='z':
    print(s[::-1])
else:
    print(s[len(s)//2])

n

In [190]:
#28.WAP to check whether the given input character is uppercase or lowercase. If 
#the input character is upper case convert into lower case and vice versa.
ch='a'
if 'A'<=ch<='Z':
    print(chr(ord(ch)+32))
else:
    print(chr(ord(ch)-32))

A

In [192]:
#29.WAP to check whether a given string is less than 3 characters, to print the entire 
#string otherwise to print after third positions to the remaining string.
s='narendra'
if len(s)<3:
    print(s)
else:
    print(s[3::1])

endra

In [14]:
#30.WAP to check whether a given length of the string is even or not. if even, to 
#append the new string called "bye" or else print the first and last characters.
s='narendra'
t='bye'
if len(s)%2==0:
    res=s+t
    print(res)
else:
    print(s[0],s[-1])

narendrabye

In [3]:
#wap to find largest of two numbers
n=30
m=20
if m>n:
    print(m,'is greater')
elif m<n:
    print(n,' is greater')
else:
    print(m,n,'are qual')

30  is greater

In [4]:
#wap check whether a given length of the string is even or not. if even to append the new string called qspiders or else print the last character.
s='narendra'
t='qspiders'
if len(s)%2==0:
    res=s+t
    print(res)
else:
    print(s[-1])

narendraqspiders

In [190]:
#wap to check whether key is not present in the dictionary or not if not append the new key into dictionary.
d={'a':10,'b':20}
if d['a'] in d:
    print()
else:
    d|={'c':30}
    print(d)

{'a': 10, 'b': 20, 'c': 30}

In [28]:
#31.WAP to check whether a given length of the string is odd or not. if odd, to append 
#the new string("Haii") from the starting of the given string, or else to avoid the 
#starting character and ending character of the given
#string and to display the remaining characters.
s='narendra'
t='Haii'
if len(s)%2!=0:
    print(t+s)
else:
    res=s[1:len(s)-1:]
    print(res)

arendr

In [37]:
#32.WAP to check whether the last of the given string is a special character or not, if 
#the special character prints reverse the string except the last character or else to 
#check if the length of the string is odd or not, if odd to extract the middle 
#character to the end of the string.
s='narendraa'
if not('a'<=s[-1]<='z' or 'A'<=s[-1]<='Z' or '0'<=s[-1]<='9'):
    print(s[-2::-1])
elif len(s)%2!=0:
    res=s[0:len(s)//2:1]+s[(len(s)//2)+1::1]+s[len(s)//2]
    print(res)

naredraan

In [41]:
#33.WAP to check whether a given year is a leap year or not. if leap year, print leap 
#year or else not a leap year.
year=2000
if year%4==0:
    print('leap year')
else:
    print('not a leap year')

leap year

In [117]:
n=[1,2,3]
m=set()
a=''
if type(n)==str and len(n)==1:
    if 'A'<=n<='Z' or 'a'<=n<='z':
        if 'A'<=n<='Z':
            res=chr(ord(n)+32)
            print(res)
        elif 'a'<=n<='z':
            res=chr(ord(n)-32)
            print(res)
        elif '0'<=n<='9':
            a+=str(n)+' '+str(ord(n))
            print(a)
        elif not ('a'<=n<='z' or 'A'<=n<='Z' or '0'<=n<='9'):
            a+=chr(ord(n)-1)+n+chr(ord(n)+1)
            print(a)
else:
    if type(n) in [list,tuple,set,dict]:
        m={tuple(n)}
        print(m)
    else:
        m|={n}
        print(m)

{'str'}

In [60]:
n='0'
if '0'<=n<='9':
    print('kjjdkds')

kjjdkds

In [212]:
a={10:20}
b={10,20,30}
if type(a)==type(b):
    if type(a)==list and type(b)==list:
        a+=b
        print(a)
    elif type(a)==dict and type(b)==dict:
        a['a'],a['b']=b['c'],b['d']
        print(a)
    elif type(a) in [int,float,bytes,complex] and type(b) in [int,float,bytes,complex]:
        print(a*b)
    elif (type(a) in [bool,type(None)]) or (type(b) in [bool,type(None)]):
        res=str(a,b)
        print(res)
    elif type(a)==complex or type(b)==complex:
        res=(complex(complex(imag=a),complex(imag=b)))
        print(res)
    elif type(a)==bytes and type(b)==bytes:
        res=list(a)+list(b)
        print(res)
    #else: 
        
    #    print(res)
elif type(a) in [list,tuple] and type(b) in [list,tuple]:
    a+=b
    print(a)
elif type(a) in [set,dict] and type(b) in [set,dict]:
    print(a)

TypeError: 'set' object is not subscriptable

In [214]:
a=b"1100"
print(ord(str(a)))

TypeError: ord() expected a character, but string of length 7 found

In [223]:
n='@'
if type(n)==str and len(n)==1:
    if 'A'<=n<='Z':
        if n in 'AEIOU':
            print(chr(ord(n)+1))
    elif 'a'<=n<='z':
        print(chr(ord(n)-32))
    elif '0'<=n<='9' or not('A'<=n<='Z' or 'a'<=n<='z'):
        print(n)

In [229]:
n=21
if type(n)==int:
    if n%2==0 or n%2!=0:
        if n%2==0:
            if n%4==0:
                print(n**2)
        if n%2!=0:
            if n%3==0 and n%7==0:
                print(3.14*(n**2))

1384.74

In [230]:
n=float(input('enter a number'))
match n:
    case n>=70:
        print('first grade')
    case n>=60 and n<70:
        print('second grade')
    case n>=40 and n<60:
        print('third grade')
    case _:
        print('fail')

SyntaxError: expected ':' (1223651915.py, line 3)

In [232]:
print('jkdk')

jkdk