In [175]:
#1
a=10
b=20
c=a+b

In [176]:
#2
print('hello world')

hello world

In [177]:
#3
a=10
b=20
c=a+b
print(c)

30

In [178]:
#4
s='narendra'
s
id(s)
type(s)

str

In [179]:
#5
a='eritjrjfnnfsfj'
print(id(s))
print(type(s))

2405153224944
<class 'str'>

In [180]:
#6
s='narendra'
print(s)
print(id(s))
type(s)

narendra
2405153224944

str

In [181]:
#7
s='narendra'
print(s)
s[-1]
s[0]

narendra

'n'

In [182]:
#8.was to print 'hello world' by using shell
print('hello world')

hello world

In [183]:
#9.was to initialize variable and value as 80
a=80
print(a)

80

In [184]:
#10.was to initialize multiple varaiable values are 180,120,280
a,b,c=180,120,280
print(a,b,c)

180 120 280

In [185]:
#11.was to print the type of data in given value
a=[1,2,3,4]
print(type(a))

<class 'list'>

In [186]:
#12.was to print the address of the memory block address for given value
s='narendra'
print(id(s))

2405153224944

In [187]:
#13.was to print your details firtly store your details, extract the values and display it
d={'name':'narendra','age':'22','mno':9014983958,'mail':'narendradappili@gmail.com'}
print(d['name']) 
print(d['age'])
print(d.items())
print(d.keys())
print(d.values())

narendra
22
dict_items([('name', 'narendra'), ('age', '22'), ('mno', 9014983958), ('mail', 'narendradappili@gmail.com')])
dict_keys(['name', 'age', 'mno', 'mail'])
dict_values(['narendra', '22', 9014983958, 'narendradappili@gmail.com'])

In [188]:
#14.was to swap two variable values by using temp
a=20
b=30
temp=a
a=b
b=temp
print(a,b)

30 20

In [189]:
#15.was to swap two variable values without using temp
a=[1,2,3,4]
b=(2,3,4,5,6,8)
a,b=b,a
print(a,b)

(2, 3, 4, 5, 6, 8) [1, 2, 3, 4]

In [190]:
#16.was to initialize a value and print the value, after print the value, then reinitialize the new value to the existing variable and display the value
#initialization
a=[1,2,3,4,5]
print(a)
#reinitialize the value
a=(1,2,3,4,5,6,7,)
print(a)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5, 6, 7)

In [191]:
#17.was to find the length of the sequence
s='asdjsdhuhdsfhb'
print(len(s))

14

In [192]:
#18.was to print the middle value and find the mid length of the sequence
s=[1,2,3,4,5,67,8]
print(s[len(s)//2])
print(len(s)//2)

4
3

In [193]:
#19.was to concate the two strings
a='abdhjd'
b='ajhdhd'
print(a+b)

abdhjdajhdhd

In [194]:
#20.was to concate the new string to the ending of the string
a='jhhfhsd'
b='jhjdf'
print(a+b)

jhhfhsdjhjdf

In [195]:
#21.was to concate the new string to the middle of the given string
s='abcde'
t='adgs'
print(s[0:len(s)//2:]+t+s[(len(s)//2)+1::])

abadgsde

In [196]:
#22.was to modify the new value to the middle of the given string
s='pyspiders'
print(s[:len(s)//2]+'l'+s[(len(s)//2)+1::])

pysplders

In [197]:
#23.was to mlodify the sequence of characters in string
s='pyspiders'
print(s[:3:]+'pid'+s[6::])

pyspiders

In [198]:
#24.was to change the specific character into upper case
s='pyspiders'
print(s[:5]+'D'+s[6:])

pyspiDers

In [199]:
#25.was to delete specific character from string
s='pyspiders'
print(s[:2]+s[3:])

pypiders

In [200]:
#26.was to delete the sequence of characters from the given string
s='pyspiders'
print(s[:3]+s[6:])

pysers

In [201]:
#27.was to modify the specific value in list
l=[1,34,6,4]
l[2]=8
print(l)

[1, 34, 8, 4]

In [202]:
#28.was to modify the new value to the starting of the list
l=[1,2,3,4,5]
l[0]=9
print(l)

[9, 2, 3, 4, 5]

In [203]:
#29.was to modify the new value to the ending of the list
l=[1,2,3,4,5]
l[-1]=9
print(l)

[1, 2, 3, 4, 9]

In [204]:
#30.was to modify the new value to the middle of the list
l=[1,2,3,4,5]
l[len(l)//2]=9
print(l)

[1, 2, 9, 4, 5]

In [205]:
#31.was to modify the starting four positions of the list
l=[1,2,3,4,5,6,7,8]
l[0:4]=[9,10,11,12]
print(l)

[9, 10, 11, 12, 5, 6, 7, 8]

In [206]:
#32.was to delete the specific element from the list
l=[1,2,3,4,5]
del l[0]
print(l)

[2, 3, 4, 5]

In [207]:
#33.was to delete the specific value from  the list without using del keyword
l=[1,2,3,4,5]
l[0:1]=[]
print(l)

[2, 3, 4, 5]

In [208]:
#34.was to concate the new collection to the list
l=[10,20,30,40]
m='asd'
print(l+list(m))

[10, 20, 30, 40, 'a', 's', 'd']

In [209]:
#35.was to concate the new collection to the list 
# to different address
l=[10,20,30,40]
print(id(l))
m='asd'
l=l+list(m)
print(l)
print(id(l))

2405153344064
[10, 20, 30, 40, 'a', 's', 'd']
2405179583232

In [210]:
#36.was to concate the new collection to the list 
# to same address by using compound assingnment operator
l=[10,20,30,40]
print(id(l))
m='asd'
l+=list(m)
print(l)
print(id(l))

2405179927680
[10, 20, 30, 40, 'a', 's', 'd']
2405179927680

In [211]:
#37.was to concate the new valus into set
# to different address
s={10,20,30,40}
print(id(s))
s=s|{1,2,3,4}
print(s)
print(id(s))

2405179548480
{1, 2, 3, 4, 40, 10, 20, 30}
2405179547136

In [212]:
#38.was to concate the new valus into set
# to same address by using compound assignment operator
s={10,20,30,40}
print(s,id(s))
s|={1,2,3,4}
print(s)
print(id(s))

{40, 10, 20, 30} 2405179545792
{1, 2, 3, 4, 40, 10, 20, 30}
2405179545792

In [213]:
#39.was to perform difference operation on set
s={10,20,30,40}
print(s)
print(id(s))
s-={10,20}
print(s)
print(id(s))

{40, 10, 20, 30}
2405179548704
{40, 30}
2405179548704

In [214]:
#40.was to concate the new value pair to the dictionary
d={1:10,2:[1,2,3],3:'abc'}
d[4]=(10,20)
print(d)

{1: 10, 2: [1, 2, 3], 3: 'abc', 4: (10, 20)}

In [215]:
#41.was to modufy the specific value in the dictionary
d={1:10,2:[1,2,3],3:'abc'}
d[1]=100
print(d)

{1: 100, 2: [1, 2, 3], 3: 'abc'}

In [216]:
#42.was to delete specific value from dict
d={1:10,2:[1,2,3],3:'abc'}
del d[1]
print(d)

{2: [1, 2, 3], 3: 'abc'}

In [217]:
#43.was to concate list and tuple values by using typecasting
l=[1,2,3,4,5]
m=10,20,30,
print(l+list(m))

[1, 2, 3, 4, 5, 10, 20, 30]

In [218]:
#44.was to concate list and tuple values without using typecasting
# by using assignment operator
l=[1,2,3,4,5]
m=10,20,30,
l+=m
print(l)

[1, 2, 3, 4, 5, 10, 20, 30]

In [219]:
#45.was to check the number is divisible by 3
n=12
print(n%3==0)

True

In [220]:
#46.was to check the number is divisible by 2 and 6
n=12
print(n%2==0 and n%6==0)
m=13
print(m%2==0 and m%6==0)

True
False

In [221]:
#47.was to check the last digit is divisible by 3 from given integer
n=1999
res=n%10
print(res%3==0)


#------
n=1995
res=n%10
print(res%3==0)

True
False

In [222]:
#48.was to convert integer to string with using type casting
n=1783
res = str(n)
print(res)

1783

In [223]:
#49.was to check the given number is greater than 150
n=1783
print(n>150)

m=140
print(m>150)

True
False

In [224]:
#50.was to check the given number is greater than or equal to 150
n=1783
print(n>=150)

m=130
print(m>=150)

True
False

In [225]:
#51.was to check the given number is less than 150
n=1783
print(n<150)

False

In [226]:
#52.was to check the given number is less than 150
n=1783
print(n<100)

m=100
print(m<=100)

False
True

In [227]:
#53.was to check the given number is greater than 15 and less than 24
n=17
print(n>15 and n<24)

True

In [228]:
#54.was to check the given number is even number
n=1783
print(n%2==0)

m=468
print(m%2==0)

False
True

In [229]:
#55.was to check the given number is odd number
n=1783
print(n%2!=0)

m=468
print(m%2!=0)

True
False

In [230]:
#56.was to check perform the replication of a given string with 6
# .... multiplication between one integer and collection datatype is called replication
s='asd'
print(s*6)

asdasdasdasdasdasd

In [231]:
#57.was to check the number is divisible by three and also greater then 23
n=30
print(n%3==0 and n>23)

m=18
print(m%3==0 and m>23)

True
False

In [232]:
#58.was to check the length of given collection is even or odd
a='12334njff'
print(len(a))
print(len(a)%2==0)

9
False

In [233]:
#59.was to check the length of the collection is less than 55 and grater than the 16
t='12345hg32hjgkhhajhdfkfjj'
print(len(t)>16 and len(t)<55)

True

In [234]:
#60.was to check the length of the collection is divisible by 5 and odd
t='12345hg32hjgkhhajhdfkfjjsqwert'
print(len(t))
print(len(t)%5==0 and len(t)%2!=0)

30
False

In [235]:
#61.was to check the middle value of a given collection is which type
s='asdjf'
res=type(s[(len(s)//2)])
print(res)

<class 'str'>

In [236]:
#62.was to check the number is divisible by 20 and 30 and it should be even
n=360
print(n%20==0 and n%30==0 and n%2==0)

True

In [237]:
#63.was to check the number is even and less than 120
n=110
print(n%2==0 and n<120)

True

In [238]:
#64.was to check the number is even and less than or equal to 70 and grater than or equal to 40
n=50
print(n%2==0 and n>=40 and n<=70)

True

In [239]:
#65.was to check the number is odd and grater than 97
n=95
print(n%2!=0 and n<97)

True

In [240]:
#66.was to check the number is grater than 48 andless than 122 and divisible by 4
n=112
print(n%4==0 and n>48 and n<122)

True

In [241]:
#67.was to check the number is divisible 3 or 5
n=110
print(n%3==0 or n%5==0)

True

In [242]:
#68.was to check the last character's ascii value should be divisible by 5
s='asdfgd'
print(ord(s[-1]))
print((ord(s[-1]))%5==0)

100
True

In [243]:
#69.was to check the given number is present b/w 60 and 130 and the number should be divisible by 3 and 4and the last didit should be less than 9.
n=120
print(60<=n<=130 and n%3==0 and n%4==0 and (n%10)<9)

True

In [244]:
#70.was to check the given number is even or less than 25.
n=24
print(n%2==0 or n<25)

True

In [245]:
#71.was to check the given number is even or greater than 25.
n=31
print(n%2==0 or n>25)

True

In [246]:
#72.was to check the number is divisible by 3 or 5
n=20
print(n%3==0 or n%5==0)

True

In [247]:
#73.was to check the number is not an even number
n=25
print(n%2!=0)

True

In [250]:
#74.was to find ascii value of given character
n='a'
print(ord(n))

97

In [251]:
#75.was to find ascii value of given character
n='A'
print(ord(n))

65

In [253]:
#76.was to find character of given ascii value
ch=65
print(chr(ch))

A

In [254]:
#77.was to find ascii value of given character
ch=109
print(chr(ch))

m

In [255]:
#78.was to check given character is in uppercase or not
n='A'
print(n<='A' and n<='Z')

True

In [256]:
#79.was to check given character is in lowercase or not
n='a'
print(n<='a' and n<='z')

True

In [267]:
#80.was to check given character is in uppercase or not
n='AD'
print(len(n)==1 and (n<='A' and n<='Z'))

False

In [259]:
#81.was to check given character is in lowercase or not
n='abc'
print(len(n)==1 and n<='A' and n<='Z')

False

In [272]:
#82.was to check given character is alphabet
n='A'
print(n>='A' or n<='Z' or 'a'<=n<='z')

True

In [277]:
#83.was to check given character is alphabet
n='Aaa'
print(len(n)==1 and (n>='A' or n<='Z' or 'a'<=n<='z'))

False

In [273]:
#84.was to check given character is ascii value or not
n='9'
print(n>='0' and n<='9')

True

In [280]:
#85.was to check given character is ascii value or not
n='976'
print(len(n)==1 and n>='0' and n<='9')

False

In [283]:
#86.was to check given character is special character or not
n='/'
print(not(n>='A' and n<='Z' and 'a'<=n<='z' and n>='0' and n<='9'))

True

In [286]:
#87.was to check the character is present in the collection or not
ch='dfg'
print(ch in 'abcndfgmki')

True

In [287]:
#88.was to check the character is present in the collection or not
ch='dg'
print(ch in 'abcndfgmki')

False

In [288]:
#89.was to convert uppercase to lowercase character
ch='A'
print(chr(ord(ch)+32))

a

In [289]:
#90.was to convert uppercase to lowercase character
ch='Aaa'
print(len(ch)==1 and chr(ord(ch)+32))

False

In [290]:
#91.was to convert lowercase to uppercase character
ch='a'
print(chr(ord(ch)-32))

A

In [291]:
#92.was to convert lowercase to uppercase character
ch='abf'
print(len(ch)==1 and chr(ord(ch)+32))

False

In [292]:
#93.was to check the character is vowel or not
ch='a'
print(ch in 'aeiouAEIOU')

True

In [293]:
#94.was to check the character is vowel or not
ch='acs'
print(len(ch)==1 and ch in 'aeiouAEIOU')

False

In [295]:
#95.was to extract the next character of given character
ch='A' 
print(chr(ord(ch)+1))

B

In [297]:
#96.was to extract the next character of given character
ch='Aaa' 
print(len(ch)==1 and chr(ord(ch)+1))

False

In [298]:
#97.was to extract the previous character of given character
ch='B' 
print(chr(ord(ch)-1))

A

In [299]:
#98.was to extract the previous character of given character
ch='Baa' 
print(len(ch)==1 and chr(ord(ch)-1))

False

In [332]:
#99.was to check the given character is converted to ascii value and the value is even as well as the character as well as the character should be lowercase.
ch='b'
print(ord(ch)%2==0 and 'a'<=ch<='z')

True

In [333]:
#100.was to check the given character is converted to ascii value and the value is even as well as the character should be lowercase.
ch='ba'
print(len(ch)==1 and ord(ch)%2==0 and 'a'<=ch<='z')

False

In [327]:
#101.was to check the dict value in tuple
t=(10,[10],'a',30,40,50)
d={'a':10}
print(d['a'] in t)
print(d.values() in t)

True
False

In [4]:
#102.was to check the given character is converted to ascii value and the value is odd as well as the character should be uppercase.
ch='B'
print(ord(ch)%2!=0 and 'A'<=ch<='Z')

False

In [5]:
#103.was to check the given character is converted to ascii value and the value is odd as well as the character should be uppercase.
ch='Ba'
print(len(ch)==1 and ord(ch)%2!=0 and 'A'<=ch<='Z')

False

In [7]:
#104.was to covert the numer into character and it is not a special symbol
n=100
print('a'<=chr(n)<='z' or 'A'<=chr(n)<='Z' or '0'<=chr(n)<='9')

True

In [8]:
#105.was to covert the numer into character and it is vowel
n=101
print(chr(n) in 'aeiouAEIOU')

True

In [9]:
#106.was to covert the numer into character and it is vowel
n=65
print(chr(n) in 'aeiouAEIOU')

True

In [10]:
#107.was to covert the numer into character and it is vowel
n=101
print(chr(n) in 'aeiouAEIOU')

True

In [11]:
#108. was to check the first and second characters are sequence or not in given string
s='abcd'
print((ord(s[0])+1) == ord(s[1]))

True

In [12]:
#109. was to check the first and second characters are sequence or not in given string
s='afcd'
print((ord(s[0])+1) == ord(s[1]))

False

In [15]:
#110. was to check the ascii value of a character is greater than 50 and greater than 25 or less than 112.
n='a'
print(ord(n) > 25 or ord(n) < 112 )

True

In [19]:
#111.was to perform the incriment of one in given number
n=100
n+=1
print(n)

101

In [20]:
#112.was to perform the incriment of two in given number
n=100
n+=2
print(n)

102

In [21]:
#113.was to perform the decriment of one in given number
n=100
n-=1
print(n)

99

In [22]:
#114.was to perform the incriment of two in given number
n=100
n-=2
print(n)

98

In [23]:
#115.was to check the given integer is present in collection
n=10
s=[1,2,3,4,10]
print(n in s)

True

In [24]:
#116.was to check the given integer is present in collection
n=20
s=[1,2,3,4,10]
print(n in s)

False

In [26]:
#117.was to perform addition operation on a nd b values and value should be assign to a
a=10
b=12
a+=b
print(a)

22

In [27]:
#118.was to check the given value is present in collection
n='abc'
s=[1,2,'abc',3,4,10]
print(n in s)

True

In [28]:
#119.was to check the given list is present in list
n=[10,20,30]
s=[1,2,3,4,10,[10,20,30]]
print(n in s)

True

In [31]:
#120.was to check the given dict is present in tuple
n={20:'abc'}
s=({20:'abc'},2,3,4,10)
print(n in s)

True

In [32]:
#121.was to check the given integer is present in dictionay
n=20
s={1:20,20:30,3:40}
print(n in s)

True

In [33]:
#122.was to check the given integer is present in dictionay
n=20
s={1:20,20:30,3:40}
print(n in s.values())

True

In [35]:
#123.was to check the given value is integer or not
n=123
print(type(n))

<class 'int'>

In [36]:
#124.was to check the given value is string or not
n='123'
print(type(n))

<class 'str'>

In [37]:
#125.was to check the given value is single value  or not
n=123
print(type(n) in [int,float,bool,bytes,complex,type(None)])

True

In [38]:
#126.was to check the given value is single value  or not
n='123'
print(type(n) in [int,float,bool,bytes,complex,type(None)])

False

In [39]:
#127.was to check the given value is multi value  or not
n=123
print(type(n) not in [int,float,bool,bytes,complex,type(None)])

False

In [40]:
#128.was to check the given value is multi value  or not
n='123'
print(type(n) not in [int,float,bool,bytes,complex,type(None)])

True

In [41]:
#129.was to check the given value is mutable or not
n=123
print(type(n) not in [int,float,bool,bytes,complex,type(None)])

False

In [42]:
#130.was to check the given value is mutable or not
n=[1,2,3]
print(type(n) not in [int,float,bool,bytes,complex,type(None)])

True

In [43]:
#131.was to perform the bitwise and operation on values 15 and 19
n=15
m=19
print(n&m)

3

In [44]:
#132.was to perform the bitwise or operation on values 115 and 79
n=115
m=79
print(n|m)

127

In [45]:
#133.was to perform the bitwise xor operation on values 56 and 22
n=56
m=22
print(n^m)

46

In [46]:
#134.was to perform the bitwise not operation on values 15
n=15
print(~n)

-16

In [48]:
#135.was to perform the bitwise left shift operation on value 32 and skipping value is 3
n=32
m=3
print(n<<m)

256

In [49]:
#136.was to perform the bitwise right shift operation on value 25 and skipping value is 2
n=25
m=2
print(n>>m)

6

In [50]:
#137.was to check the given value is in dictionary 
d={1:10,2:30}
a=10
print(a in d.values())

True