In [4]:
a=10
b=20
c=a+b

In [5]:
print('hello world')

hello world

In [6]:
a=10
b=20
c=a+b
print(c)

30

In [7]:
s='narendra'
s
id(s)
type(s)

str

In [8]:
a='eritjrjfnnfsfj'
print(id(s))
print(type(s))

1469035608368
<class 'str'>

In [9]:
s='narendra'
print(s)
print(id(s))
type(s)

narendra
1469035608368

str

In [15]:
s='narendra'
print(s)
s[-1]
s[0]

narendra

'n'

In [16]:
#was to print 'hello world' by using shell
print('hello world')

hello world

In [18]:
#was to initialize variable and value as 80
a=80
print(a)

80

In [19]:
#was to initialize multiple varaiable values are 180,120,280
a,b,c=180,120,280
print(a,b,c)

180 120 280

In [20]:
#was to print the type of data in given value
a=[1,2,3,4]
print(type(a))

<class 'list'>

In [21]:
#was to print the address of the memory block address for given value
s='narendra'
print(id(s))

1469035608368

In [22]:
#was to print your details firtly store your details, extract the values and display it
d={'name':'narendra','age':'22','mno':9014983958,'mail':'narendradappili@gmail.com'}
print(d['name']) 
print(d['age'])
print(d.items())
print(d.keys())
print(d.values())

narendra
22
dict_items([('name', 'narendra'), ('age', '22'), ('mno', 9014983958), ('mail', 'narendradappili@gmail.com')])
dict_keys(['name', 'age', 'mno', 'mail'])
dict_values(['narendra', '22', 9014983958, 'narendradappili@gmail.com'])

In [23]:
#was to swap two variable values by using temp
a=20
b=30
temp=a
a=b
b=temp
print(a,b)

30 20

In [24]:
#was to swap two variable values without using temp
a=[1,2,3,4]
b=(2,3,4,5,6,8)
a,b=b,a
print(a,b)

(2, 3, 4, 5, 6, 8) [1, 2, 3, 4]

In [25]:
#was to initialize a value and print the value, after print the value, then reinitialize the new value to the existing variable and display the value
#initialization
a=[1,2,3,4,5]
print(a)
#reinitialize the value
a=(1,2,3,4,5,6,7,)
print(a)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5, 6, 7)

In [26]:
#was to find the length of the sequence
s='asdjsdhuhdsfhb'
print(len(s))

14

In [30]:
#was to print the middle value and find the mid length of the sequence
s=[1,2,3,4,5,67,8]
print(s[len(s)//2])
print(len(s)//2)

4
3

In [31]:
#was to concate the two strings
a='abdhjd'
b='ajhdhd'
print(a+b)

abdhjdajhdhd

In [32]:
#was to concate the new string to the ending of the string
a='jhhfhsd'
b='jhjdf'
print(a+b)

jhhfhsdjhjdf

In [33]:
#was to concate the new string to the middle of the given string
s='abcde'
t='adgs'
print(s[0:len(s)//2:]+t+s[(len(s)//2)+1::])

abadgsde

In [36]:
#was to modify the new value to the middle of the given string
s='pyspiders'
print(s[:len(s)//2]+'l'+s[(len(s)//2)+1::])

pysplders

In [37]:
#was to mlodify the sequence of characters in string
s='pyspiders'
print(s[:3:]+'pid'+s[6::])

pyspiders

In [38]:
#was to change the specific character into upper case
s='pyspiders'
print(s[:5]+'D'+s[6:])

pyspiDers

In [39]:
#was to delete specific character from string
s='pyspiders'
print(s[:2]+s[3:])

pypiders

In [40]:
#was to delete the sequence of characters from the given string
s='pyspiders'
print(s[:3]+s[6:])

pysers

In [45]:
#was to modify the specific value in list
l=[1,34,6,4]
l[2]=8
print(l)

[1, 34, 8, 4]

In [46]:
#was to modify the new value to the starting of the list
l=[1,2,3,4,5]
l[0]=9
print(l)

[9, 2, 3, 4, 5]

In [47]:
#was to modify the new value to the ending of the list
l=[1,2,3,4,5]
l[-1]=9
print(l)

[1, 2, 3, 4, 9]

In [48]:
#was to modify the new value to the middle of the list
l=[1,2,3,4,5]
l[len(l)//2]=9
print(l)

[1, 2, 9, 4, 5]

In [49]:
#was to modify the starting four positions of the list
l=[1,2,3,4,5,6,7,8]
l[0:4]=[9,10,11,12]
print(l)

[9, 10, 11, 12, 5, 6, 7, 8]

In [50]:
#was to delete the specific element from the list
l=[1,2,3,4,5]
del l[0]
print(l)

[2, 3, 4, 5]

In [52]:
#was to delete the specific value from  the list without using del keyword
l=[1,2,3,4,5]
l[0:1]=[]
print(l)

[2, 3, 4, 5]

In [54]:
#was to concate the new collection to the list
l=[10,20,30,40]
m='asd'
print(l+list(m))

[10, 20, 30, 40, 'a', 's', 'd']

In [56]:
#was to concate the new collection to the list 
# to different address
l=[10,20,30,40]
print(id(l))
m='asd'
l=l+list(m)
print(l)
print(id(l))

1469059158720
[10, 20, 30, 40, 'a', 's', 'd']
1469059301120

In [57]:
#was to concate the new collection to the list 
# to same address by using compound assingnment operator
l=[10,20,30,40]
print(id(l))
m='asd'
l+=list(m)
print(l)
print(id(l))

1469059158720
[10, 20, 30, 40, 'a', 's', 'd']
1469059158720

In [58]:
#was to concate the new valus into set
# to different address
s={10,20,30,40}
print(id(s))
s=s|{1,2,3,4}
print(s)
print(id(s))

1469059140064
{1, 2, 3, 4, 40, 10, 20, 30}
1469059141856

In [59]:
#was to concate the new valus into set
# to same address by using compound assignment operator
s={10,20,30,40}
print(s,id(s))
s|={1,2,3,4}
print(s)
print(id(s))

{40, 10, 20, 30} 1469059142976
{1, 2, 3, 4, 40, 10, 20, 30}
1469059142976

In [60]:
#was to perform difference operation on set
s={10,20,30,40}
print(s)
print(id(s))
s-={10,20}
print(s)
print(id(s))

{40, 10, 20, 30}
1469059141184
{40, 30}
1469059141184

In [64]:
#was to concate the new value pair to the dictionary
d={1:10,2:[1,2,3],3:'abc'}
d[4]=(10,20)
print(d)

{1: 10, 2: [1, 2, 3], 3: 'abc', 4: (10, 20)}