In [107]:
a=10
b=20
c=a+b

In [108]:
print('hello world')

hello world

In [109]:
a=10
b=20
c=a+b
print(c)

30

In [110]:
s='narendra'
s
id(s)
type(s)

str

In [111]:
a='eritjrjfnnfsfj'
print(id(s))
print(type(s))

2405153285296
<class 'str'>

In [112]:
s='narendra'
print(s)
print(id(s))
type(s)

narendra
2405153285296

str

In [113]:
s='narendra'
print(s)
s[-1]
s[0]

narendra

'n'

In [114]:
#was to print 'hello world' by using shell
print('hello world')

hello world

In [115]:
#was to initialize variable and value as 80
a=80
print(a)

80

In [116]:
#was to initialize multiple varaiable values are 180,120,280
a,b,c=180,120,280
print(a,b,c)

180 120 280

In [117]:
#was to print the type of data in given value
a=[1,2,3,4]
print(type(a))

<class 'list'>

In [118]:
#was to print the address of the memory block address for given value
s='narendra'
print(id(s))

2405153285296

In [119]:
#was to print your details firtly store your details, extract the values and display it
d={'name':'narendra','age':'22','mno':9014983958,'mail':'narendradappili@gmail.com'}
print(d['name']) 
print(d['age'])
print(d.items())
print(d.keys())
print(d.values())

narendra
22
dict_items([('name', 'narendra'), ('age', '22'), ('mno', 9014983958), ('mail', 'narendradappili@gmail.com')])
dict_keys(['name', 'age', 'mno', 'mail'])
dict_values(['narendra', '22', 9014983958, 'narendradappili@gmail.com'])

In [120]:
#was to swap two variable values by using temp
a=20
b=30
temp=a
a=b
b=temp
print(a,b)

30 20

In [121]:
#was to swap two variable values without using temp
a=[1,2,3,4]
b=(2,3,4,5,6,8)
a,b=b,a
print(a,b)

(2, 3, 4, 5, 6, 8) [1, 2, 3, 4]

In [122]:
#was to initialize a value and print the value, after print the value, then reinitialize the new value to the existing variable and display the value
#initialization
a=[1,2,3,4,5]
print(a)
#reinitialize the value
a=(1,2,3,4,5,6,7,)
print(a)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5, 6, 7)

In [123]:
#was to find the length of the sequence
s='asdjsdhuhdsfhb'
print(len(s))

14

In [124]:
#was to print the middle value and find the mid length of the sequence
s=[1,2,3,4,5,67,8]
print(s[len(s)//2])
print(len(s)//2)

4
3

In [125]:
#was to concate the two strings
a='abdhjd'
b='ajhdhd'
print(a+b)

abdhjdajhdhd

In [126]:
#was to concate the new string to the ending of the string
a='jhhfhsd'
b='jhjdf'
print(a+b)

jhhfhsdjhjdf

In [127]:
#was to concate the new string to the middle of the given string
s='abcde'
t='adgs'
print(s[0:len(s)//2:]+t+s[(len(s)//2)+1::])

abadgsde

In [128]:
#was to modify the new value to the middle of the given string
s='pyspiders'
print(s[:len(s)//2]+'l'+s[(len(s)//2)+1::])

pysplders

In [129]:
#was to mlodify the sequence of characters in string
s='pyspiders'
print(s[:3:]+'pid'+s[6::])

pyspiders

In [130]:
#was to change the specific character into upper case
s='pyspiders'
print(s[:5]+'D'+s[6:])

pyspiDers

In [131]:
#was to delete specific character from string
s='pyspiders'
print(s[:2]+s[3:])

pypiders

In [132]:
#was to delete the sequence of characters from the given string
s='pyspiders'
print(s[:3]+s[6:])

pysers

In [133]:
#was to modify the specific value in list
l=[1,34,6,4]
l[2]=8
print(l)

[1, 34, 8, 4]

In [134]:
#was to modify the new value to the starting of the list
l=[1,2,3,4,5]
l[0]=9
print(l)

[9, 2, 3, 4, 5]

In [135]:
#was to modify the new value to the ending of the list
l=[1,2,3,4,5]
l[-1]=9
print(l)

[1, 2, 3, 4, 9]

In [136]:
#was to modify the new value to the middle of the list
l=[1,2,3,4,5]
l[len(l)//2]=9
print(l)

[1, 2, 9, 4, 5]

In [137]:
#was to modify the starting four positions of the list
l=[1,2,3,4,5,6,7,8]
l[0:4]=[9,10,11,12]
print(l)

[9, 10, 11, 12, 5, 6, 7, 8]

In [138]:
#was to delete the specific element from the list
l=[1,2,3,4,5]
del l[0]
print(l)

[2, 3, 4, 5]

In [139]:
#was to delete the specific value from  the list without using del keyword
l=[1,2,3,4,5]
l[0:1]=[]
print(l)

[2, 3, 4, 5]

In [140]:
#was to concate the new collection to the list
l=[10,20,30,40]
m='asd'
print(l+list(m))

[10, 20, 30, 40, 'a', 's', 'd']

In [141]:
#was to concate the new collection to the list 
# to different address
l=[10,20,30,40]
print(id(l))
m='asd'
l=l+list(m)
print(l)
print(id(l))

2405153348992
[10, 20, 30, 40, 'a', 's', 'd']
2405179617408

In [142]:
#was to concate the new collection to the list 
# to same address by using compound assingnment operator
l=[10,20,30,40]
print(id(l))
m='asd'
l+=list(m)
print(l)
print(id(l))

2405179672448
[10, 20, 30, 40, 'a', 's', 'd']
2405179672448

In [143]:
#was to concate the new valus into set
# to different address
s={10,20,30,40}
print(id(s))
s=s|{1,2,3,4}
print(s)
print(id(s))

2405179546464
{1, 2, 3, 4, 40, 10, 20, 30}
2405179545792

In [144]:
#was to concate the new valus into set
# to same address by using compound assignment operator
s={10,20,30,40}
print(s,id(s))
s|={1,2,3,4}
print(s)
print(id(s))

{40, 10, 20, 30} 2405179546912
{1, 2, 3, 4, 40, 10, 20, 30}
2405179546912

In [145]:
#was to perform difference operation on set
s={10,20,30,40}
print(s)
print(id(s))
s-={10,20}
print(s)
print(id(s))

{40, 10, 20, 30}
2405179547808
{40, 30}
2405179547808

In [146]:
#was to concate the new value pair to the dictionary
d={1:10,2:[1,2,3],3:'abc'}
d[4]=(10,20)
print(d)

{1: 10, 2: [1, 2, 3], 3: 'abc', 4: (10, 20)}

In [147]:
#was to modufy the specific value in the dictionary
d={1:10,2:[1,2,3],3:'abc'}
d[1]=100
print(d)

{1: 100, 2: [1, 2, 3], 3: 'abc'}

In [148]:
#was to delete specific value from dict
d={1:10,2:[1,2,3],3:'abc'}
del d[1]
print(d)

{2: [1, 2, 3], 3: 'abc'}

In [149]:
#was to concate list and tuple values by using typecasting
l=[1,2,3,4,5]
m=10,20,30,
print(l+list(m))

[1, 2, 3, 4, 5, 10, 20, 30]

In [150]:
#was to concate list and tuple values without using typecasting
# by using assignment operator
l=[1,2,3,4,5]
m=10,20,30,
l+=m
print(l)

[1, 2, 3, 4, 5, 10, 20, 30]

In [151]:
#was to check the number is divisible by 3
n=12
print(n%3==0)

True

In [152]:
#was to check the number is divisible by 2 and 6
n=12
print(n%2==0 and n%6==0)
m=13
print(m%2==0 and m%6==0)

True
False

In [153]:
#was to check the last digit is divisible by 3 from given integer
n=1999
res=n%10
print(res%3==0)


#------
n=1995
res=n%10
print(res%3==0)

True
False

In [154]:
#was to convert integer to string with using type casting
n=1783
res = str(n)
print(res)

1783

In [155]:
#was to check the given number is greater than 150
n=1783
print(n>150)

m=140
print(m>150)

True
False

In [156]:
#was to check the given number is greater than or equal to 150
n=1783
print(n>=150)

m=130
print(m>=150)

True
False

In [157]:
#was to check the given number is less than 150
n=1783
print(n<150)

False

In [158]:
#was to check the given number is less than 150
n=1783
print(n<100)

m=100
print(m<=100)

False
True

In [159]:
#was to check the given number is greater than 15 and less than 24
n=17
print(n>15 and n<24)

True

In [160]:
#was to check the given number is even number
n=1783
print(n%2==0)

m=468
print(m%2==0)

False
True

In [161]:
#was to check the given number is odd number
n=1783
print(n%2!=0)

m=468
print(m%2!=0)

True
False

In [162]:
#was to check perform the replication of a given string with 6
# .... multiplication between one integer and collection datatype is called replication
s='asd'
print(s*6)

asdasdasdasdasdasd

In [163]:
#was to check the number is divisible by three and also greater then 23
n=30
print(n%3==0 and n>23)

m=18
print(m%3==0 and m>23)

True
False

In [164]:
#was to check the length of given collection is even or odd
a='12334njff'
print(len(a))
print(len(a)%2==0)

9
False

In [165]:
#was to check the length of the collection is less than 55 and grater than the 16
t='12345hg32hjgkhhajhdfkfjj'
print(len(t)>16 and len(t)<55)

True

In [166]:
#was to check the length of the collection is divisible by 5 and odd
t='12345hg32hjgkhhajhdfkfjjsqwert'
print(len(t))
print(len(t)%5==0 and len(t)%2!=0)

30
False

In [167]:
#was to check the middle value of a given collection is which type
s='asdjf'
res=type(s[(len(s)//2)])
print(res)

<class 'str'>

In [168]:
#wss to check the number is divisible by 20 and 30 and it should be even
n=360
print(n%20==0 and n%30==0 and n%2==0)

True

In [169]:
#was to check the number is even and less than 120
n=110
print(n%2==0 and n<120)

True

In [170]:
#was to check the number is even and less than or equal to 70 and grater than or equal to 40
n=50
print(n%2==0 and n>=40 and n<=70)

True

In [171]:
#was to check the number is odd and grater than 97
n=95
print(n%2!=0 and n<97)

True

In [172]:
#was to check the number is grater than 48 andless than 122 and divisible by 4
n=112
print(n%4==0 and n>48 and n<122)

True

In [173]:
#was to check the number is divisible 3 or 5
n=110
print(n%3==0 or n%5==0)

True

In [174]:
#was to check the last character's ascii value should be divisible by 5
s='asdfgd'
print(ord(s[-1]))
print((ord(s[-1]))%5==0)

100
True