In [52]:
st='one two double two triple three six seven nine'
def getting_mobile_number(s):
    d={'zero':0,'one':1,'two':2,'three':3,'four':4,'five':5,'six':6,'seven':7,'eight':8,'nine':9}
    res=s.split()
    t=''
    print(len(res))
    if len(res)==0:
        return -1
    i=0
    while (i<len(res)):
        ele=res[i]
        if ele not in ['zero','one','two','three','four','five','six','seven','eight','nine','double','triple']:
            i+=1
        if res[i]=='double':
            if res[i+1] in ['zero','one','two','three','four','five','six','seven','eight','nine']:
                t+=str(d[res[i+1]])*2
            i+=2
        elif res[i]=='triple':
            t+=str(d[res[i+1]])*3
            i+=2
        elif res[i] in ['zero','one','two','three','four','five','six','seven','eight','nine']:
            t+=str(d[res[i]])
            i+=1
    return t   
getting_mobile_number(st)

9

'1222333679'

In [57]:
d={'a':-10,'b':-7,'c':10,'d':-3}
l=list(d)  #[a,b,c,d]
l_n=d[l[0]]  #-10
i=0
while i<len(l):     #0 < 4  1 <4  2<4  3<4  
    if l_n<d[l[i]]:   #-10 < -7  -7<10  10<3
        l_n=d[l[i]] #-7  10  10
        ch=l[i] # a  b  c  d
    i+=1
print(l_n,ch)

10 c

In [62]:
l=[10,50,20,30,40,15,60]
m=[]
i=0
while i<=2:
    j=0
    l_n=0
    pos=None
    while j<len(l):
        if l_n<l[j]:
            l_n=l[j]
            pos=j
        
        j+=1
    m+=[l_n]
    l=l[:pos:]+l[pos+1:]
    i+=1
print(m)

[60, 50, 40]

In [4]:
st='hai hello how are you'
def convert(coll):
    res=''
    l=''
    for i in coll:
        if i !=' ':
            l+=i
        else:
            if len(l)!=0:
                res=' '+l+res
            l=''
    if len(l)!=0:
        res=l+res
    return res
convert(st)

'you are how hello hai'

In [4]:
#wap to replace a maximum occurance character with new character in given string.
st='abcabababdbabfbhg'
def ocuurance_replace(coll):
    d={}
    for i in coll:
        if i not in d:
            d[i]=1
        else:
            d[i]+=1
    print(d)
    max,ch=0,''
    for i in d:
        if d[i]>max:
            max=d[i]
            ch=i
    res,new_char='','t'
    for i in coll:
        if ch==i:
            res+=new_char
        else:
            res+=i
    return res
ocuurance_replace(st)

{'a': 5, 'b': 7, 'c': 1, 'd': 1, 'f': 1, 'h': 1, 'g': 1}

'atcatatatdtatfthg'

In [48]:
#wap to find the occurance of words in a given string.
st='one two double two triple three six   seven nine '
def occurance_words(coll):
    d,t,={},''
    for i in coll:
        if i != ' ':
            t+=i
        else: 
            if len(t)!=0:
                if t not in d:
                    d[t]=1
                else:
                    d[t]+=1
            t=''
    if len(t)!=0:
        if t not in d:
            d[t]=1
        else: 
            d[t]+=1
    return d
occurance_words(st)

{'one': 1,
 'two': 2,
 'double': 1,
 'triple': 1,
 'three': 1,
 'six': 1,
 'seven': 1,
 'nine': 1}

In [17]:
#wap to sum of the elements in a given list in recursively.
l=[10,20,30,40,50]
def u_sum(coll,i=0,sum1=0):
    if i==len(coll):
        return sum1
    sum1+=coll[i]
    return u_sum(coll,i+1,sum1)
u_sum(l)

150

In [51]:
# i/p: l=[['a',2],['a',3],['a',1],['b',8],['b',5],['c',4],['c',5]]
# o/p: l=[['a',3],['b',8],['c',5]]
l=[['a',2],['a',3],['a',1],['b',8],['b',5],['c',4],['c',5]]
def u_max(coll):
    ch=coll[0][0]
    x=0
    m={}
    i=0
    while i<len(coll):
        if ch==coll[i][0]:
            if coll[i][1]>x:
                x=coll[i][1]
                # print(x)
                if coll[i][0] not in m:
                    m[coll[i][0]]=x
                    # print(m)
                else:
                    m[coll[i][0]]=x
        else:
            ch=coll[i][0]
            x=0
            i-=1
        i+=1
    x=[[j,m[j]] for j in m]
    return x
u_max(l)

[['a', 3], ['b', 8], ['c', 5]]

In [26]:
class mobile:
    cname='oneplus'
    def __init__(self,m_model,m_ram,m_rom,m_processor,m_price,m_IEMI):
        self.model=m_model
        self.ram=m_ram
        self.rom=m_rom
        self.processor=m_processor
        self.price=m_price
        self.IEMI=m_IEMI
obj1=mobile('oneplus 11','16gb','256gb','meditate 8',45000,'on12345')
print(obj1.__dict__)

{'model': 'oneplus 11', 'ram': '16gb', 'rom': '256gb', 'processor': 'meditate 8', 'price': 45000, 'IEMI': 'on12345'}